<div class="container">
    <p>MODOFICAR REGIÓN</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Nombre de la Región</label>
                    <input [(ngModel)]="region.nombre" type="text" class="form-control" name="nombre">
                </div>
                <button (click)="modificar()" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">{{region.nombre}}</label>
                </div>
                
            </form>
        </div>

    </div>
    
</div>
